[Desktop Entry]
Name=Force primary screen for new windows
Comment=Force new windows to open on your primary screen.
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Ronoaldo JLP
X-KDE-PluginInfo-Email=ronoaldo@gmail.com
X-KDE-PluginInfo-Name=forceprimaryscreen
X-KDE-PluginInfo-Version=1.5

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service

